<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS (Windows Plesk) ayarları. Plesk'te Document root "site\public" olmalı. -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="Ozoto front controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- PHP'nin döndürdüğü 404/500 sayfaları IIS'in kendi hata sayfasıyla değiştirilmesin. -->
    <httpErrors existingResponse="PassThrough" />

    <security>
      <requestFiltering>
        <!-- Fotoğraf yüklemeleri için en fazla 64 MB istek. -->
        <requestLimits maxAllowedContentLength="67108864" />
        <hiddenSegments>
          <add segment=".user.ini" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <!-- Site yazı tipleri. Bazı IIS sürümlerinde tanımlı olduğu için önce kaldırılıp yeniden eklenir (çift tanım 500 hatası verir). -->
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
